:root {
  --color-secondary: #161616;
  --color-primary: #2b2d31;
}


body {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin: 0;
}


@media screen and (width >= 320px) {
  #title {
    align-self: center;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 0 2em;
    margin-top: 3em;
    position: relative;
    width: max-content;
    
    #name {
      color: white;
      font-family: sans-serif;
      font-size: 4em;
    }
  }
  
  .section {
    align-self: center;
    background-color: var(--color-secondary);
    border: 0.25em solid white;
    border-radius: 13px;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: arial;
    padding: 1em 2.5em;
    width: 80vw;
    
    .name {
      font-weight: bold;
      font-size: 3.5em;
    }
    
    p, li {
      font-size: 2em;
      padding: 0;
    }
    
    #syntax-image {
      align-self: center;
      max-width: 100%;
    }
    
    .color {
      align-items: center;
      display: flex;
      font-size: 2em;
      height: 3em;
      justify-content: center;
    }
    
    #selectors {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      
      .selector {
        align-self: center;
        border: 3px solid white;
        border-radius: 16px;
        padding: 0.5em 1em;
        text-align: center;
        width: 50%;
        
        .name {
          font-weight: normal;
          font-size: 2.5em;
        }
      }
    }
    
    .codeblock {
      background-color: #222;
      border-radius: 15px;
      font-size: 2em;
      overflow-x: auto;
      
      .tag { color: #006ee6; }
      
      .attribute { color: #48cae4; }
      
      .selector { color: #f98129; }
      
      .bracket { color: magenta; }
      
      .string { color: #cc5800; }
      
      .keyword { color: #e25825; }
      
      .property { color: lightgray; }
      
      .link { text-decoration: 2px underline; }
      
      .comment { color: gray; }
      
      .error { text-decoration: 2px underline wavy red; }
      
      .number { color: limegreen; }
      
      .function { color: yellow; }
    }
    
    .subsection {
      .name {
        font-size: 2.8em;
      }
      
      p {
        font-size: 2em;
        padding: 0;
      }
      
      #borders {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        
        .border {
          align-items: center;
          display: flex;
          font-size: 2em;
          height: 2.5em;
          justify-content: center;
        }
      }
      
      
      .codeblock {
        background-color: #222;
        border-radius: 15px;
        font-size: 2em;
        overflow-x: auto;
        
        .tag { color: #006ee6; }
        
        .attribute { color: #48cae4; }
        
        .selector { color: #f98129; }
        
        .bracket { color: magenta; }
        
        .string { color: #cc5800; }
        
        .keyword { color: #e25825; }
        
        .property { color: lightgray; }
        
        .link { text-decoration: 2px underline; }
        
        .comment { color: gray; }
        
        .error { text-decoration: 2px underline wavy red; }
        
        .number { color: limegreen; }
        
        .function { color: yellow; }
      }
    }
  }
}


@media screen and (width >= 425px) {
  .section {
    width: 70vw;
  }
}


@media screen and (width >= 1024px) {
  .section {
    width: 55vw;

    .name {
      font-size: 3em;
    }

    p, li {
      font-size: 1.8em;
    }
  }
}


@media screen and (width >= 1440px) {
  #title {
    #name {
      font-size: 6em;
    }
  }
  
  .section {
    .name {
      font-size: 4.8em;
    }
    
    p, li {
      font-size: 3em;
    }
  }
}


@media screen and (width >= 2560px) {
  .section {
    .name {
      font-size: 7em;
    }
    
    p, li {
      font-size: 5em;
    }
  }
}